
.Jobs-Front,
.Oil,
.Jobs-Back {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.804) 50%, rgba(10, 2, 9, 0.241)), url('/assests/images/lines.jpg');
    background-size: cover;
    background-position: center;
    color: white; /* Set text color to white */
    padding: 50px 0; /* Add padding to top and bottom */
}

.Jobs-Front h2,
.Oil h2,
.Jobs-Back h2 {
    font-size: 2rem; /* Customize h2 font size */
}

.Jobs-Front p,
.Oil p,
.Jobs-Back p {
    font-size: 1rem; /* Customize p font size */
    line-height: 1.5; /* Adjust line height for better readability */
    margin: 20px 0; /* Add margin to top and bottom of paragraphs */
}

/* Remove margin from last paragraph of each section */
.Jobs-Front p:last-child,
.Oil p:last-child,
.Jobs-Back p:last-child {
    margin-bottom: 0;
}
