/* Hero Section */
.hero{
    background-image: url(../assests/images/jeremy-bishop-rqWoB4LFgmc-unsplash.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    position: relative;
    display: flex;
    background-attachment: fixed;
    padding: .1px; 

}
.container-hero h1 {
    font-size: 2.2rem;
    display: flex;  
    position: absolute;
    top: 20%;
    left: 6%;
    transform: rotate(-90deg);
    color: var(--color-secundary)
    
}
.withe-line{
    width: 20%;
    height: 1px;
    background-color: var(--color-secundary);
    position: absolute;
    top: 30%;
    left: 23%;
    transform: rotate(-90deg); 
    
}
.intro p{
    position: absolute;
    font-size: 14px;
    font-family: var(--font-family-two);
    color: var(--color-secundary);
    left: 33%;
    top: 5%;
    bottom: 10%;
    padding: 33px 8%; 
} 


/* Navbar Section */
.home {
    display: flex;   
    align-items: center;
    padding: 0 20px;
    height: 100%;    
}
.home a {
    padding: 20px 0;
}

.menu-icon{
    display: flex;
    justify-content: flex-end;    
    gap: 10px;
    height: 100%;
    padding: 20px;        
}
.navbar-links{
    display: none;
    padding: 0;
    margin: 0;
}
.home a,
.navbar-links li a {
    text-decoration: none;
    color: var(--color-secundary);
    font-family: var(--font-family-one);
    font-size: 0.9rem;
    font-weight:bolder;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;   
} 
nav {  
    display: flex;
    position:fixed;
    flex-wrap: wrap;
    width: 100%;
    /* height: 60px;     */
    justify-content: space-between;    
}
nav ul {
    list-style-type: none;
}
/* Open and close menu */
.close {
    display: none;
}
#navbar:target .navbar-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */ /*Me ocupa la pantalla */
    height: 100vh;
    padding: 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.838);
    justify-content: center;  
}
#navbar:target .open{
    display: none;
}
#menu:target .close{
    display: block;   
}


/* Section One */
.section-one{
    height: 100dvh;    
    background-image: url(../assests/images/mike-ko-tjod6u2RpiU-unsplash.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
}
.card {
    border: 2px white #fafafa10;
    border-radius: 3%;    
    width: 20rem;
    height: 25rem;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 13%; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.glass-effect{
    background-color: var(--glass-effect);
    backdrop-filter: blur(0.4rem);   
}

.quotation-mark {
    width: 20%;
    position: absolute;
    top: -20px; 
    right: -20px; 
    text-shadow: 2px 5px #000;
    z-index: 1;
    
} 
/* Polaroid */
.polaroid {
    position: relative;
    width: 150px;
    padding: 15px;
    background-color:var(--color-smoke);  
    top: 35%;
    left: 10px;
    border-radius: 10px;
    filter: grayscale(60%);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
  }

.polaroid img {
    width: 100%;
    border-radius: 10px;
  }
.polaroid p{
    font-family: var(--font-family-five);
    font-size: 0.9rem; 
    color: var(--color-secundary);
    text-align: center;
    top: 15%;
    letter-spacing: 2;
} 
.section-one-text {
    position: absolute;
    width: 250px;
    left: 35%;
    top: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-one-text h3 {
    font-family: var(--font-family-three);
    color: var(--color-secundary);   
    font-size: 15px;
}
.section-one-text p{
    font-family: var(--font-family-two);
    font-size: 14px;
    color: var(--color-secundary);   
    justify-content: center;   
    padding: 10px 20%;     
} 

/* Footer */
.footer {
    display: flex;
    background-image: url(../assests/images/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.footer-link a,
.footer p {
    color:var(--color-secundary);
    opacity: 0.35;
    text-decoration: none;
    font-size: 15px;    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}





/* ---------------------------------- */
/* Contact Page */
/* ---------------------------------- */
.hero-contact {
    background-color: tomato;
    margin: 0;
    padding: .1px;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    position: relative;
    display: flex;
}

/*
.video-contact-section{
    width: 100%;
    height: 100%;
    padding: .1px;
    background-size: cover;
}
/*

 .video-contact-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
/*.container-hero-contact-section h1{
    font-size: var(--font-size-h1);
    display: flex;  
    position: absolute;
    top: 20%;
    left: 18%;   
    color: var(--color-secundary)    
}
.withe-line-contactc{
    width: 15%;
    height: 1px;
    background-color: var(--color-secundary);
    position: absolute;
    top: 55%;
    left: 35%;
    transform: rotate(-90deg);
} 
.contact-me-text p{ 
    color: var(--color-secundary);
    line-height: 1.5;
    position: absolute;
    z-index: 1;
    margin-left: 30%;
    margin-top: 25%;
    margin-bottom: 10%;
    padding: 10px 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   */


.hero-life{
    background-color: black;
}