/* Haro and navbar */

.container-hero h1{
    font-size: 3.5rem;
    left: 7%;
}
.withe-line{
    left: 19%;
    top: 26%;
    width: 27%;
}

.intro p {
    font-size: 1.2rem;
    left: 18%;
    padding: 0 20%;
    top: 10%;
}

.home a,
.navbar-links li a {
    font-size: 1rem;
}
.home a,
.navbar-links li a {
    width: 15%;
}

.menu-icon i{
    padding: 0 25px;
}



/* Section one */
.card{
    position: relative;
    width: 500px;
}

/* Polaroid */
.polaroid{
    width: 200px;
    right: 220%;
    left: auto;
    top: 25%;
}

.section-one-text p{
    padding: 5px 2%;
}
.section-one-text h3{
    font-size: 23px;
}
.polaroid p {
    font-size: 1.2rem;
}


/* ---------------------------------- */
/* --------- Contact Page ---------- */
/* ---------------------------------- */

/* Navbar */
.navbar-links a i {
    font-size: 28px; 
}
.home a{
    font-size: 28px;
}
.half-section figure:last-of-type img {
    bottom: -50%;
    right: 0;
    left: auto;
    width: 400px;
    height: 652px;
    animation: pulse;
    animation-duration: 4s;
}

