@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;1,900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,900&display=swap');
@font-face {
    font-family: 'Cashrole' ;
    src: url(./assests/fonts/Cashrole.ttf);
}
/* Root */
:root {
    --background-color:#F4E703;
    --color-primary: #000;
    --color-secundary: #fff;
    --font-family-one: 'Roboto Flex', sans-serif;
    --font-family-two: 'Inter Tight', sans-serif;
    --font-family-three: 'Playfair Display', serif;
    --font-family-four: 'Cashrole', serif;
    

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
  /* Hero Section */
/* Hero Section */
.hero{
    background-image: url(./assests/images/jeremy-bishop-rqWoB4LFgmc-unsplash.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    position: relative;
    display: flex;

}
.container-hero h1 {
    font-size: 4rem;
    display: flex;  
    position: absolute;
    top: 20%;
    left: 20%;
    transform: rotate(-90deg);
    color: var(--color-secundary)
    
}
.withe-line{
    width: 10%;
    height: 1px;
    background-color: var(--color-secundary);
    position: absolute;
    top: 25%;
    left: 29%;
    transform: rotate(-90deg);

}
/* Navbar Section */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Roboto Flex';
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.navbar-left,
.navbar-right {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-left li,
.navbar-right li {
    padding: 15px 20px; 
}

.navbar-left .contact-left {
    margin-right: auto; /*contacto a la izq */
}

.navbar-left li a,
.navbar-right li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-secundary);
}

.navbar-left li a:hover,
.navbar-right li a:hover {
    color:var(--color-secundary);
    background-color:var(--color-tertiary);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Scroll */
.navbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color); 
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.navbar:hover:before {
    opacity: 1;
}

body.scrolled .navbar {
    background-color: var(--color-primary)
} 

.intro p{
    font-size: 1rem;
    font-family: 'Roboto Flex';
    color: var(--color-secundary);
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0 10%;
}
    
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  