@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;1,900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,900&display=swap');
@font-face {
    font-family: 'Cashrole' ;
    src: url(./assests/fonts/Cashrole.ttf); 

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
/* Hero Section */
.hero {
    background-image: url(./assests/images/developer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
}

.container-hero {
    display: flex;  
    width: 350px;
    height: 400px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.polaroid {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.84);
    /* transform: rotate(3deg); */
}

.photo {
    width: 100%;
    height: auto;
    border: 5px solid #fff;    
    filter: grayscale(100%);
}

.polaroid p{
    font-family: 'Cashrole';
    font-size: 1.5rem;
    font-weight: 500;
}
/* About Section */
.black-line {
    border: 1px solid black; 
    width: 90%;
    margin: 20px auto; 
    
}
.about-me{
    background-color:#F4E703;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}